language: java

sudo: required

notifications:
  email: false
  
services:
  - mysql

before_install:
  - sudo apt-get update -qq
  - sudo apt-get -y install unzip
  - sudo wget http://download.java.net/glassfish/4.1/release/glassfish-4.1.zip
  - sudo unzip glassfish-4.1.zip -d /opt
  - sudo /opt/glassfish4/bin/asadmin start-domain

  
 
