language: java

sudo: required

notifications:
  email: false
  
services:
  - mysql

before_install:
  - echo " kjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj "
  - apt-get update -qq
 
